numpy
ultralytics
pandas
opencv-python
opencv-python-headless
ffmpeg-python 
tf-keras
supervision 
python-dotenv
pika
torch
shapely
pydantic
python-multipart
httpx
lap
PyTurboJPEG
msgpack
scipy
torchreid
